workshop/Step_1_and_2/Nobel_Prizes.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description>ODSC West 2024 Workshop.

Building Big Data Workflows Nifi, Hive, Trino &amp; Zeppelin.

Dr. Khaled Tannir
</description>
    <groupId>81fec7b9-0187-1000-ed88-9c834d5509df</groupId>
    <name>Nobel Prizes</name>
    <snippet>
        <controllerServices>
            <id>1bcb4241-63d6-372d-0000-000000000000</id>
            <parentGroupId>0a56abaf-dbf7-3c76-0000-000000000000</parentGroupId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.20.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-text-property</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-inference-cache</key>
                    <value>
                        <dependencies>
                            <dependentValues>infer-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-inference-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>starting-field-strategy</key>
                    <value>
                        <name>starting-field-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>starting-field-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>NESTED_FIELD</dependentValues>
                            <propertyName>starting-field-strategy</propertyName>
                        </dependencies>
                        <name>starting-field-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-application-strategy</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>schema-text-property</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <dependencies>
                            <dependentValues>NESTED_FIELD</dependentValues>
                            <propertyName>starting-field-strategy</propertyName>
                        </dependencies>
                        <name>schema-application-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
            </descriptors>
            <name>JsonTreeReader</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>infer-schema</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>schema-inference-cache</key>
                </entry>
                <entry>
                    <key>starting-field-strategy</key>
                    <value>ROOT_NODE</value>
                </entry>
                <entry>
                    <key>starting-field-name</key>
                </entry>
                <entry>
                    <key>schema-application-strategy</key>
                    <value>SELECTED_PART</value>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.json.JsonTreeReader</type>
        </controllerServices>
        <controllerServices>
            <id>db72449c-bfba-30a5-0000-000000000000</id>
            <parentGroupId>0a56abaf-dbf7-3c76-0000-000000000000</parentGroupId>
            <versionedComponentId>db72449c-bfba-30a5-aed3-b76c1d0bfc4f</versionedComponentId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-ssl-context-service-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.20.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Keystore Filename</key>
                    <value>
                        <name>Keystore Filename</name>
                    </value>
                </entry>
                <entry>
                    <key>Keystore Password</key>
                    <value>
                        <name>Keystore Password</name>
                    </value>
                </entry>
                <entry>
                    <key>key-password</key>
                    <value>
                        <name>key-password</name>
                    </value>
                </entry>
                <entry>
                    <key>Keystore Type</key>
                    <value>
                        <name>Keystore Type</name>
                    </value>
                </entry>
                <entry>
                    <key>Truststore Filename</key>
                    <value>
                        <name>Truststore Filename</name>
                    </value>
                </entry>
                <entry>
                    <key>Truststore Password</key>
                    <value>
                        <name>Truststore Password</name>
                    </value>
                </entry>
                <entry>
                    <key>Truststore Type</key>
                    <value>
                        <name>Truststore Type</name>
                    </value>
                </entry>
                <entry>
                    <key>SSL Protocol</key>
                    <value>
                        <name>SSL Protocol</name>
                    </value>
                </entry>
            </descriptors>
            <name>StandardSSLContextService</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Keystore Filename</key>
                </entry>
                <entry>
                    <key>Keystore Password</key>
                </entry>
                <entry>
                    <key>key-password</key>
                </entry>
                <entry>
                    <key>Keystore Type</key>
                </entry>
                <entry>
                    <key>Truststore Filename</key>
                    <value>/etc/pki/java/cacerts</value>
                </entry>
                <entry>
                    <key>Truststore Password</key>
                </entry>
                <entry>
                    <key>Truststore Type</key>
                    <value>JKS</value>
                </entry>
                <entry>
                    <key>SSL Protocol</key>
                    <value>TLS</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.ssl.StandardSSLContextService</type>
        </controllerServices>
        <processGroups>
            <id>0369352b-8e7f-301e-0000-000000000000</id>
            <parentGroupId>0a56abaf-dbf7-3c76-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>a5959dd3-bebb-39cc-0000-000000000000</id>
                    <parentGroupId>0369352b-8e7f-301e-0000-000000000000</parentGroupId>
                    <versionedComponentId>2603324e-0522-30d1-9dda-46ff6e9988c0</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>181a203c-552e-31dc-0000-000000000000</groupId>
                        <id>4a374970-82e9-367f-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                        <versionedComponentId>1838b71b-72c3-3ab6-abcb-15c0908b7184</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>929a6546-7e04-3bb2-0000-000000000000</groupId>
                        <id>ac9e6c9d-d753-34cc-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                        <versionedComponentId>d95c07b2-faf2-31d6-84ee-5f1777ec6c1e</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>b01134f7-c39d-3e39-0000-000000000000</id>
                    <parentGroupId>0369352b-8e7f-301e-0000-000000000000</parentGroupId>
                    <versionedComponentId>24bc1aba-813e-3ee7-af4f-ec019ac6ff02</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>fc402fcb-67b4-3c1d-0000-000000000000</groupId>
                        <id>df1947ca-4e9a-31f3-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                        <versionedComponentId>c8f3d04b-4abd-380c-9a06-43091b7e1d49</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>181a203c-552e-31dc-0000-000000000000</groupId>
                        <id>75226461-6ef4-3508-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                        <versionedComponentId>431e7a9f-e447-38db-a45c-e6da5bf343e0</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <controllerServices>
                    <id>43672bfb-2713-3fed-0000-000000000000</id>
                    <parentGroupId>0369352b-8e7f-301e-0000-000000000000</parentGroupId>
                    <versionedComponentId>23d3fa32-f453-379a-b839-532ddda90335</versionedComponentId>
                    <bulletinLevel>WARN</bulletinLevel>
                    <bundle>
                        <artifact>nifi-record-serialization-services-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.20.0</version>
                    </bundle>
                    <descriptors>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>
<name>schema-access-strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                            <value>
<dependencies>
    <dependentValues>confluent-encoded</dependentValues>
    <dependentValues>schema-name</dependentValues>
    <dependentValues>hwx-schema-ref-attributes</dependentValues>
    <dependentValues>hwx-content-encoded-schema</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
<name>schema-registry</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-branch</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>
<dependencies>
    <dependentValues>schema-text-property</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-text</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-inference-cache</key>
                            <value>
<dependencies>
    <dependentValues>infer-schema</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
<name>schema-inference-cache</name>
                            </value>
                        </entry>
                        <entry>
                            <key>starting-field-strategy</key>
                            <value>
<name>starting-field-strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>starting-field-name</key>
                            <value>
<dependencies>
    <dependentValues>NESTED_FIELD</dependentValues>
    <propertyName>starting-field-strategy</propertyName>
</dependencies>
<name>starting-field-name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-application-strategy</key>
                            <value>
<dependencies>
    <dependentValues>confluent-encoded</dependentValues>
    <dependentValues>schema-name</dependentValues>
    <dependentValues>schema-text-property</dependentValues>
    <dependentValues>hwx-schema-ref-attributes</dependentValues>
    <dependentValues>hwx-content-encoded-schema</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<dependencies>
    <dependentValues>NESTED_FIELD</dependentValues>
    <propertyName>starting-field-strategy</propertyName>
</dependencies>
<name>schema-application-strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                            <value>
<name>Date Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                            <value>
<name>Time Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                            <value>
<name>Timestamp Format</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>JsonTreeReader</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>infer-schema</value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>${schema.name}</value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>${avro.schema}</value>
                        </entry>
                        <entry>
                            <key>schema-inference-cache</key>
                        </entry>
                        <entry>
                            <key>starting-field-strategy</key>
                            <value>ROOT_NODE</value>
                        </entry>
                        <entry>
                            <key>starting-field-name</key>
                        </entry>
                        <entry>
                            <key>schema-application-strategy</key>
                            <value>SELECTED_PART</value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                        </entry>
                    </properties>
                    <state>DISABLED</state>
                    <type>org.apache.nifi.json.JsonTreeReader</type>
                </controllerServices>
                <processGroups>
                    <id>181a203c-552e-31dc-0000-000000000000</id>
                    <parentGroupId>0369352b-8e7f-301e-0000-000000000000</parentGroupId>
                    <position>
                        <x>456.0</x>
                        <y>-240.0</y>
                    </position>
                    <versionedComponentId>1b010947-7a98-3330-8558-a0f16d9664e7</versionedComponentId>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>516fb4a0-2062-3306-0000-000000000000</id>
                            <parentGroupId>181a203c-552e-31dc-0000-000000000000</parentGroupId>
                            <versionedComponentId>c0291cc0-1a14-3bff-989e-7d038f60f6fb</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>-128.0</x>
<y>-80.0</y>
                            </bends>
                            <destination>
<groupId>181a203c-552e-31dc-0000-000000000000</groupId>
<id>dbc919e1-b2f8-3fc8-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>3710c3d7-e720-3432-948b-7aa52bd54dd3</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>181a203c-552e-31dc-0000-000000000000</groupId>
<id>4a374970-82e9-367f-0000-000000000000</id>
<type>INPUT_PORT</type>
<versionedComponentId>1838b71b-72c3-3ab6-abcb-15c0908b7184</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>6d608c5f-b796-3994-0000-000000000000</id>
                            <parentGroupId>181a203c-552e-31dc-0000-000000000000</parentGroupId>
                            <versionedComponentId>afabdc3a-ae0a-382b-8ab9-de054737ca31</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>181a203c-552e-31dc-0000-000000000000</groupId>
<id>75226461-6ef4-3508-0000-000000000000</id>
<type>OUTPUT_PORT</type>
<versionedComponentId>431e7a9f-e447-38db-a45c-e6da5bf343e0</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>merged</selectedRelationships>
                            <source>
<groupId>181a203c-552e-31dc-0000-000000000000</groupId>
<id>0148d170-eefe-3b90-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>3b8284b6-4fb4-30d8-8262-8723528c8ac5</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>94f2e284-b828-3737-0000-000000000000</id>
                            <parentGroupId>181a203c-552e-31dc-0000-000000000000</parentGroupId>
                            <versionedComponentId>23eeb9d8-29fd-3889-9816-82451efcbfda</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>744.0</x>
<y>-176.0</y>
                            </bends>
                            <destination>
<groupId>181a203c-552e-31dc-0000-000000000000</groupId>
<id>0148d170-eefe-3b90-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>3b8284b6-4fb4-30d8-8262-8723528c8ac5</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>181a203c-552e-31dc-0000-000000000000</groupId>
<id>01e85782-deae-3fad-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>e98c7047-f5c0-3f46-b893-de914ccd986e</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>f519bbcb-7aa5-35cf-0000-000000000000</id>
                            <parentGroupId>181a203c-552e-31dc-0000-000000000000</parentGroupId>
                            <versionedComponentId>2e96cd2f-4a1e-3c79-9960-0dd1b798d848</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>368.0</x>
<y>-184.0</y>
                            </bends>
                            <destination>
<groupId>181a203c-552e-31dc-0000-000000000000</groupId>
<id>01e85782-deae-3fad-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>e98c7047-f5c0-3f46-b893-de914ccd986e</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>split</selectedRelationships>
                            <source>
<groupId>181a203c-552e-31dc-0000-000000000000</groupId>
<id>dbc919e1-b2f8-3fc8-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>3710c3d7-e720-3432-948b-7aa52bd54dd3</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <inputPorts>
                            <id>4a374970-82e9-367f-0000-000000000000</id>
                            <parentGroupId>181a203c-552e-31dc-0000-000000000000</parentGroupId>
                            <position>
<x>-248.0</x>
<y>-216.0</y>
                            </position>
                            <versionedComponentId>1838b71b-72c3-3ab6-abcb-15c0908b7184</versionedComponentId>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>Raw Json Data</name>
                            <state>STOPPED</state>
                            <type>INPUT_PORT</type>
                        </inputPorts>
                        <labels>
                            <id>2ef5d678-b82d-37e2-0000-000000000000</id>
                            <parentGroupId>181a203c-552e-31dc-0000-000000000000</parentGroupId>
                            <position>
<x>-256.0</x>
<y>-248.0</y>
                            </position>
                            <height>392.0</height>
                            <label>Data Transformation</label>
                            <style>
<entry>
    <key>background-color</key>
    <value>#d6e2ff</value>
</entry>
<entry>
    <key>font-size</key>
    <value>12px</value>
</entry>
                            </style>
                            <width>1360.0</width>
                            <zIndex>0</zIndex>
                        </labels>
                        <outputPorts>
                            <id>75226461-6ef4-3508-0000-000000000000</id>
                            <parentGroupId>181a203c-552e-31dc-0000-000000000000</parentGroupId>
                            <position>
<x>792.0</x>
<y>80.0</y>
                            </position>
                            <versionedComponentId>431e7a9f-e447-38db-a45c-e6da5bf343e0</versionedComponentId>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>Json Data</name>
                            <state>STOPPED</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <processors>
                            <id>0148d170-eefe-3b90-0000-000000000000</id>
                            <parentGroupId>181a203c-552e-31dc-0000-000000000000</parentGroupId>
                            <position>
<x>736.0</x>
<y>-136.0</y>
                            </position>
                            <versionedComponentId>3b8284b6-4fb4-30d8-8262-8723528c8ac5</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.20.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Merge Strategy</key>
        <value>
            <name>Merge Strategy</name>
        </value>
    </entry>
    <entry>
        <key>Merge Format</key>
        <value>
            <name>Merge Format</name>
        </value>
    </entry>
    <entry>
        <key>Attribute Strategy</key>
        <value>
            <name>Attribute Strategy</name>
        </value>
    </entry>
    <entry>
        <key>Correlation Attribute Name</key>
        <value>
            <dependencies>
                <dependentValues>Bin-Packing Algorithm</dependentValues>
                <propertyName>Merge Strategy</propertyName>
            </dependencies>
            <name>Correlation Attribute Name</name>
        </value>
    </entry>
    <entry>
        <key>mergecontent-metadata-strategy</key>
        <value>
            <dependencies>
                <dependentValues>Avro</dependentValues>
                <propertyName>Merge Format</propertyName>
            </dependencies>
            <name>mergecontent-metadata-strategy</name>
        </value>
    </entry>
    <entry>
        <key>Minimum Number of Entries</key>
        <value>
            <dependencies>
                <dependentValues>Bin-Packing Algorithm</dependentValues>
                <propertyName>Merge Strategy</propertyName>
            </dependencies>
            <name>Minimum Number of Entries</name>
        </value>
    </entry>
    <entry>
        <key>Maximum Number of Entries</key>
        <value>
            <dependencies>
                <dependentValues>Bin-Packing Algorithm</dependentValues>
                <propertyName>Merge Strategy</propertyName>
            </dependencies>
            <name>Maximum Number of Entries</name>
        </value>
    </entry>
    <entry>
        <key>Minimum Group Size</key>
        <value>
            <dependencies>
                <dependentValues>Bin-Packing Algorithm</dependentValues>
                <propertyName>Merge Strategy</propertyName>
            </dependencies>
            <name>Minimum Group Size</name>
        </value>
    </entry>
    <entry>
        <key>Maximum Group Size</key>
        <value>
            <dependencies>
                <dependentValues>Bin-Packing Algorithm</dependentValues>
                <propertyName>Merge Strategy</propertyName>
            </dependencies>
            <name>Maximum Group Size</name>
        </value>
    </entry>
    <entry>
        <key>Max Bin Age</key>
        <value>
            <name>Max Bin Age</name>
        </value>
    </entry>
    <entry>
        <key>Maximum number of Bins</key>
        <value>
            <name>Maximum number of Bins</name>
        </value>
    </entry>
    <entry>
        <key>Delimiter Strategy</key>
        <value>
            <dependencies>
                <dependentValues>Binary Concatenation</dependentValues>
                <propertyName>Merge Format</propertyName>
            </dependencies>
            <name>Delimiter Strategy</name>
        </value>
    </entry>
    <entry>
        <key>Header File</key>
        <value>
            <dependencies>
                <dependentValues>Filename</dependentValues>
                <dependentValues>Text</dependentValues>
                <propertyName>Delimiter Strategy</propertyName>
            </dependencies>
            <dependencies>
                <dependentValues>Binary Concatenation</dependentValues>
                <propertyName>Merge Format</propertyName>
            </dependencies>
            <name>Header File</name>
        </value>
    </entry>
    <entry>
        <key>Footer File</key>
        <value>
            <dependencies>
                <dependentValues>Filename</dependentValues>
                <dependentValues>Text</dependentValues>
                <propertyName>Delimiter Strategy</propertyName>
            </dependencies>
            <dependencies>
                <dependentValues>Binary Concatenation</dependentValues>
                <propertyName>Merge Format</propertyName>
            </dependencies>
            <name>Footer File</name>
        </value>
    </entry>
    <entry>
        <key>Demarcator File</key>
        <value>
            <dependencies>
                <dependentValues>Filename</dependentValues>
                <dependentValues>Text</dependentValues>
                <propertyName>Delimiter Strategy</propertyName>
            </dependencies>
            <dependencies>
                <dependentValues>Binary Concatenation</dependentValues>
                <propertyName>Merge Format</propertyName>
            </dependencies>
            <name>Demarcator File</name>
        </value>
    </entry>
    <entry>
        <key>Compression Level</key>
        <value>
            <dependencies>
                <dependentValues>ZIP</dependentValues>
                <propertyName>Merge Format</propertyName>
            </dependencies>
            <name>Compression Level</name>
        </value>
    </entry>
    <entry>
        <key>Keep Path</key>
        <value>
            <dependencies>
                <dependentValues>ZIP</dependentValues>
                <dependentValues>TAR</dependentValues>
                <propertyName>Merge Format</propertyName>
            </dependencies>
            <name>Keep Path</name>
        </value>
    </entry>
    <entry>
        <key>Tar Modified Time</key>
        <value>
            <dependencies>
                <dependentValues>TAR</dependentValues>
                <propertyName>Merge Format</propertyName>
            </dependencies>
            <name>Tar Modified Time</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Merge Strategy</key>
        <value>Bin-Packing Algorithm</value>
    </entry>
    <entry>
        <key>Merge Format</key>
        <value>Binary Concatenation</value>
    </entry>
    <entry>
        <key>Attribute Strategy</key>
        <value>Keep Only Common Attributes</value>
    </entry>
    <entry>
        <key>Correlation Attribute Name</key>
    </entry>
    <entry>
        <key>mergecontent-metadata-strategy</key>
        <value>Do Not Merge Uncommon Metadata</value>
    </entry>
    <entry>
        <key>Minimum Number of Entries</key>
        <value>1</value>
    </entry>
    <entry>
        <key>Maximum Number of Entries</key>
        <value>1100</value>
    </entry>
    <entry>
        <key>Minimum Group Size</key>
        <value>100 KB</value>
    </entry>
    <entry>
        <key>Maximum Group Size</key>
    </entry>
    <entry>
        <key>Max Bin Age</key>
        <value>1 MIN</value>
    </entry>
    <entry>
        <key>Maximum number of Bins</key>
        <value>5</value>
    </entry>
    <entry>
        <key>Delimiter Strategy</key>
        <value>Text</value>
    </entry>
    <entry>
        <key>Header File</key>
        <value>[</value>
    </entry>
    <entry>
        <key>Footer File</key>
        <value>]</value>
    </entry>
    <entry>
        <key>Demarcator File</key>
        <value>,</value>
    </entry>
    <entry>
        <key>Compression Level</key>
        <value>1</value>
    </entry>
    <entry>
        <key>Keep Path</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Tar Modified Time</key>
        <value>${file.lastModifiedTime}</value>
    </entry>
</properties>
<retryCount>0</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>MergeContent</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>merged</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>original</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.MergeContent</type>
                        </processors>
                        <processors>
                            <id>01e85782-deae-3fad-0000-000000000000</id>
                            <parentGroupId>181a203c-552e-31dc-0000-000000000000</parentGroupId>
                            <position>
<x>360.0</x>
<y>-136.0</y>
                            </position>
                            <versionedComponentId>e98c7047-f5c0-3f46-b893-de914ccd986e</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.20.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>jolt-transform</key>
        <value>
            <name>jolt-transform</name>
        </value>
    </entry>
    <entry>
        <key>jolt-custom-class</key>
        <value>
            <dependencies>
                <dependentValues>jolt-transform-custom</dependentValues>
                <propertyName>jolt-spec</propertyName>
            </dependencies>
            <name>jolt-custom-class</name>
        </value>
    </entry>
    <entry>
        <key>jolt-custom-modules</key>
        <value>
            <dependencies>
                <dependentValues>jolt-transform-custom</dependentValues>
                <propertyName>jolt-spec</propertyName>
            </dependencies>
            <name>jolt-custom-modules</name>
        </value>
    </entry>
    <entry>
        <key>jolt-spec</key>
        <value>
            <name>jolt-spec</name>
        </value>
    </entry>
    <entry>
        <key>Transform Cache Size</key>
        <value>
            <name>Transform Cache Size</name>
        </value>
    </entry>
    <entry>
        <key>pretty_print</key>
        <value>
            <name>pretty_print</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>jolt-transform</key>
        <value>jolt-transform-chain</value>
    </entry>
    <entry>
        <key>jolt-custom-class</key>
    </entry>
    <entry>
        <key>jolt-custom-modules</key>
    </entry>
    <entry>
        <key>jolt-spec</key>
        <value>[
  {
    "operation": "shift",
    "spec": {
      "id": "id",
      "fullName|orgName": {
        "en": "fullName"
      },
      "gender": "gender",
      "birth|founded": {
        "date": "date",
        "place": {
          "country": {
            "en": "country"
          }
        }
      },
      "nobelPrizes": {
        "*": {
          "awardYear": "awardYear[]",
          "category": {
            "en": "category[]"
          }
        }
      }
    }
  },
  {
    "operation": "default",
    "spec": {
      "country": "Unknown",
      "gender": "organization"
    }
  }
]</value>
    </entry>
    <entry>
        <key>Transform Cache Size</key>
        <value>1</value>
    </entry>
    <entry>
        <key>pretty_print</key>
        <value>false</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>JoltTransformJSON</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.JoltTransformJSON</type>
                        </processors>
                        <processors>
                            <id>dbc919e1-b2f8-3fc8-0000-000000000000</id>
                            <parentGroupId>181a203c-552e-31dc-0000-000000000000</parentGroupId>
                            <position>
<x>-8.0</x>
<y>-136.0</y>
                            </position>
                            <versionedComponentId>3710c3d7-e720-3432-948b-7aa52bd54dd3</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.20.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>JsonPath Expression</key>
        <value>
            <name>JsonPath Expression</name>
        </value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>
            <name>Null Value Representation</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>JsonPath Expression</key>
        <value>$.laureates.[*]</value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>empty string</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>SplitJson</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>original</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>split</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.SplitJson</type>
                        </processors>
                    </contents>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>Data Transformation</name>
                    <variables/>
                </processGroups>
                <processGroups>
                    <id>929a6546-7e04-3bb2-0000-000000000000</id>
                    <parentGroupId>0369352b-8e7f-301e-0000-000000000000</parentGroupId>
                    <position>
                        <x>-240.0</x>
                        <y>-248.0</y>
                    </position>
                    <versionedComponentId>266fb095-1514-353d-904c-6dd8f4160e43</versionedComponentId>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>3673adf1-e3e9-32d0-0000-000000000000</id>
                            <parentGroupId>929a6546-7e04-3bb2-0000-000000000000</parentGroupId>
                            <versionedComponentId>8ee22058-4457-3f28-8352-229a9bca8a0e</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>536.0</x>
<y>-280.0</y>
                            </bends>
                            <destination>
<groupId>929a6546-7e04-3bb2-0000-000000000000</groupId>
<id>de65c326-e9d0-3463-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>f8cb522d-a42c-33b3-8f29-78b312e9129a</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>Response</selectedRelationships>
                            <source>
<groupId>929a6546-7e04-3bb2-0000-000000000000</groupId>
<id>4b794671-d786-35ce-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>009469a1-c00f-397e-9c75-32deef0dc41f</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>905caa38-f74e-35b5-0000-000000000000</id>
                            <parentGroupId>929a6546-7e04-3bb2-0000-000000000000</parentGroupId>
                            <versionedComponentId>a323950d-b5cb-367a-aea1-75f8964d9e91</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>128.0</x>
<y>-264.0</y>
                            </bends>
                            <destination>
<groupId>929a6546-7e04-3bb2-0000-000000000000</groupId>
<id>4b794671-d786-35ce-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>009469a1-c00f-397e-9c75-32deef0dc41f</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>929a6546-7e04-3bb2-0000-000000000000</groupId>
<id>d3513e58-63d2-39d4-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>4b11b718-2fae-34f6-8af4-33bbfc57f415</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>9dfaa49c-e377-3956-0000-000000000000</id>
                            <parentGroupId>929a6546-7e04-3bb2-0000-000000000000</parentGroupId>
                            <versionedComponentId>bfb2ba64-296d-38ef-9705-baecaecd25fd</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>936.0</x>
<y>-272.0</y>
                            </bends>
                            <destination>
<groupId>929a6546-7e04-3bb2-0000-000000000000</groupId>
<id>ac9e6c9d-d753-34cc-0000-000000000000</id>
<type>OUTPUT_PORT</type>
<versionedComponentId>d95c07b2-faf2-31d6-84ee-5f1777ec6c1e</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>929a6546-7e04-3bb2-0000-000000000000</groupId>
<id>de65c326-e9d0-3463-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>f8cb522d-a42c-33b3-8f29-78b312e9129a</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <labels>
                            <id>09ef40ea-45fb-33f6-0000-000000000000</id>
                            <parentGroupId>929a6546-7e04-3bb2-0000-000000000000</parentGroupId>
                            <position>
<x>-256.0</x>
<y>-320.0</y>
                            </position>
                            <versionedComponentId>991d6342-0f33-39f1-83fb-e872a010f70d</versionedComponentId>
                            <height>264.0</height>
                            <label>Data Ingestion</label>
                            <style>
<entry>
    <key>font-size</key>
    <value>12px</value>
</entry>
                            </style>
                            <width>1416.0</width>
                            <zIndex>0</zIndex>
                        </labels>
                        <outputPorts>
                            <id>ac9e6c9d-d753-34cc-0000-000000000000</id>
                            <parentGroupId>929a6546-7e04-3bb2-0000-000000000000</parentGroupId>
                            <position>
<x>896.0</x>
<y>-192.0</y>
                            </position>
                            <versionedComponentId>d95c07b2-faf2-31d6-84ee-5f1777ec6c1e</versionedComponentId>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>Raw Json Data</name>
                            <state>STOPPED</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <processors>
                            <id>4b794671-d786-35ce-0000-000000000000</id>
                            <parentGroupId>929a6546-7e04-3bb2-0000-000000000000</parentGroupId>
                            <position>
<x>128.0</x>
<y>-224.0</y>
                            </position>
                            <versionedComponentId>009469a1-c00f-397e-9c75-32deef0dc41f</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.20.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>HTTP Method</key>
        <value>
            <name>HTTP Method</name>
        </value>
    </entry>
    <entry>
        <key>Remote URL</key>
        <value>
            <name>Remote URL</name>
        </value>
    </entry>
    <entry>
        <key>disable-http2</key>
        <value>
            <name>disable-http2</name>
        </value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>SSL Context Service</name>
        </value>
    </entry>
    <entry>
        <key>Connection Timeout</key>
        <value>
            <name>Connection Timeout</name>
        </value>
    </entry>
    <entry>
        <key>Read Timeout</key>
        <value>
            <name>Read Timeout</name>
        </value>
    </entry>
    <entry>
        <key>idle-timeout</key>
        <value>
            <name>idle-timeout</name>
        </value>
    </entry>
    <entry>
        <key>max-idle-connections</key>
        <value>
            <name>max-idle-connections</name>
        </value>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
            <name>proxy-configuration-service</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Host</key>
        <value>
            <name>Proxy Host</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Port</key>
        <value>
            <dependencies>
                <propertyName>Proxy Host</propertyName>
            </dependencies>
            <name>Proxy Port</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Type</key>
        <value>
            <dependencies>
                <propertyName>Proxy Host</propertyName>
            </dependencies>
            <name>Proxy Type</name>
        </value>
    </entry>
    <entry>
        <key>invokehttp-proxy-user</key>
        <value>
            <dependencies>
                <propertyName>Proxy Host</propertyName>
            </dependencies>
            <name>invokehttp-proxy-user</name>
        </value>
    </entry>
    <entry>
        <key>invokehttp-proxy-password</key>
        <value>
            <dependencies>
                <propertyName>Proxy Host</propertyName>
            </dependencies>
            <name>invokehttp-proxy-password</name>
        </value>
    </entry>
    <entry>
        <key>oauth2-access-token-provider</key>
        <value>
            <identifiesControllerService>org.apache.nifi.oauth2.OAuth2AccessTokenProvider</identifiesControllerService>
            <name>oauth2-access-token-provider</name>
        </value>
    </entry>
    <entry>
        <key>Basic Authentication Username</key>
        <value>
            <name>Basic Authentication Username</name>
        </value>
    </entry>
    <entry>
        <key>Basic Authentication Password</key>
        <value>
            <name>Basic Authentication Password</name>
        </value>
    </entry>
    <entry>
        <key>Digest Authentication</key>
        <value>
            <dependencies>
                <propertyName>Basic Authentication Username</propertyName>
            </dependencies>
            <name>Digest Authentication</name>
        </value>
    </entry>
    <entry>
        <key>Penalize on "No Retry"</key>
        <value>
            <name>Penalize on "No Retry"</name>
        </value>
    </entry>
    <entry>
        <key>send-message-body</key>
        <value>
            <dependencies>
                <dependentValues>POST</dependentValues>
                <dependentValues>PATCH</dependentValues>
                <dependentValues>PUT</dependentValues>
                <propertyName>HTTP Method</propertyName>
            </dependencies>
            <name>send-message-body</name>
        </value>
    </entry>
    <entry>
        <key>form-body-form-name</key>
        <value>
            <dependencies>
                <dependentValues>true</dependentValues>
                <propertyName>send-message-body</propertyName>
            </dependencies>
            <name>form-body-form-name</name>
        </value>
    </entry>
    <entry>
        <key>set-form-filename</key>
        <value>
            <dependencies>
                <propertyName>form-body-form-name</propertyName>
            </dependencies>
            <name>set-form-filename</name>
        </value>
    </entry>
    <entry>
        <key>Use Chunked Encoding</key>
        <value>
            <dependencies>
                <dependentValues>POST</dependentValues>
                <dependentValues>PATCH</dependentValues>
                <dependentValues>PUT</dependentValues>
                <propertyName>HTTP Method</propertyName>
            </dependencies>
            <name>Use Chunked Encoding</name>
        </value>
    </entry>
    <entry>
        <key>Content-Encoding</key>
        <value>
            <dependencies>
                <dependentValues>POST</dependentValues>
                <dependentValues>PATCH</dependentValues>
                <dependentValues>PUT</dependentValues>
                <propertyName>HTTP Method</propertyName>
            </dependencies>
            <name>Content-Encoding</name>
        </value>
    </entry>
    <entry>
        <key>Content-Type</key>
        <value>
            <dependencies>
                <dependentValues>POST</dependentValues>
                <dependentValues>PATCH</dependentValues>
                <dependentValues>PUT</dependentValues>
                <propertyName>HTTP Method</propertyName>
            </dependencies>
            <name>Content-Type</name>
        </value>
    </entry>
    <entry>
        <key>Include Date Header</key>
        <value>
            <name>Include Date Header</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Send</key>
        <value>
            <name>Attributes to Send</name>
        </value>
    </entry>
    <entry>
        <key>Useragent</key>
        <value>
            <name>Useragent</name>
        </value>
    </entry>
    <entry>
        <key>Put Response Body In Attribute</key>
        <value>
            <name>Put Response Body In Attribute</name>
        </value>
    </entry>
    <entry>
        <key>Max Length To Put In Attribute</key>
        <value>
            <dependencies>
                <propertyName>Put Response Body In Attribute</propertyName>
            </dependencies>
            <name>Max Length To Put In Attribute</name>
        </value>
    </entry>
    <entry>
        <key>ignore-response-content</key>
        <value>
            <name>ignore-response-content</name>
        </value>
    </entry>
    <entry>
        <key>use-etag</key>
        <value>
            <name>use-etag</name>
        </value>
    </entry>
    <entry>
        <key>etag-max-cache-size</key>
        <value>
            <dependencies>
                <dependentValues>true</dependentValues>
                <propertyName>use-etag</propertyName>
            </dependencies>
            <name>etag-max-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>cookie-strategy</key>
        <value>
            <name>cookie-strategy</name>
        </value>
    </entry>
    <entry>
        <key>Always Output Response</key>
        <value>
            <name>Always Output Response</name>
        </value>
    </entry>
    <entry>
        <key>flow-file-naming-strategy</key>
        <value>
            <name>flow-file-naming-strategy</name>
        </value>
    </entry>
    <entry>
        <key>Add Response Headers to Request</key>
        <value>
            <name>Add Response Headers to Request</name>
        </value>
    </entry>
    <entry>
        <key>Follow Redirects</key>
        <value>
            <name>Follow Redirects</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>HTTP Method</key>
        <value>GET</value>
    </entry>
    <entry>
        <key>Remote URL</key>
        <value>${url}?offset=${offset}&amp;limit=${limit}</value>
    </entry>
    <entry>
        <key>disable-http2</key>
        <value>False</value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
        <value>db72449c-bfba-30a5-0000-000000000000</value>
    </entry>
    <entry>
        <key>Connection Timeout</key>
        <value>30 secs</value>
    </entry>
    <entry>
        <key>Read Timeout</key>
        <value>60 secs</value>
    </entry>
    <entry>
        <key>idle-timeout</key>
        <value>5 mins</value>
    </entry>
    <entry>
        <key>max-idle-connections</key>
        <value>5</value>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
    </entry>
    <entry>
        <key>Proxy Host</key>
    </entry>
    <entry>
        <key>Proxy Port</key>
    </entry>
    <entry>
        <key>Proxy Type</key>
        <value>http</value>
    </entry>
    <entry>
        <key>invokehttp-proxy-user</key>
    </entry>
    <entry>
        <key>invokehttp-proxy-password</key>
    </entry>
    <entry>
        <key>oauth2-access-token-provider</key>
    </entry>
    <entry>
        <key>Basic Authentication Username</key>
    </entry>
    <entry>
        <key>Basic Authentication Password</key>
    </entry>
    <entry>
        <key>Digest Authentication</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Penalize on "No Retry"</key>
        <value>false</value>
    </entry>
    <entry>
        <key>send-message-body</key>
        <value>true</value>
    </entry>
    <entry>
        <key>form-body-form-name</key>
    </entry>
    <entry>
        <key>set-form-filename</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Use Chunked Encoding</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Content-Encoding</key>
        <value>DISABLED</value>
    </entry>
    <entry>
        <key>Content-Type</key>
        <value>${mime.type}</value>
    </entry>
    <entry>
        <key>Include Date Header</key>
        <value>True</value>
    </entry>
    <entry>
        <key>Attributes to Send</key>
    </entry>
    <entry>
        <key>Useragent</key>
    </entry>
    <entry>
        <key>Put Response Body In Attribute</key>
    </entry>
    <entry>
        <key>Max Length To Put In Attribute</key>
        <value>256</value>
    </entry>
    <entry>
        <key>ignore-response-content</key>
        <value>false</value>
    </entry>
    <entry>
        <key>use-etag</key>
        <value>false</value>
    </entry>
    <entry>
        <key>etag-max-cache-size</key>
        <value>10MB</value>
    </entry>
    <entry>
        <key>cookie-strategy</key>
        <value>DISABLED</value>
    </entry>
    <entry>
        <key>Always Output Response</key>
        <value>false</value>
    </entry>
    <entry>
        <key>flow-file-naming-strategy</key>
        <value>RANDOM</value>
    </entry>
    <entry>
        <key>Add Response Headers to Request</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Follow Redirects</key>
        <value>True</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>InvokeHTTP</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>Failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>No Retry</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>Original</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Response</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>Retry</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
                        </processors>
                        <processors>
                            <id>d3513e58-63d2-39d4-0000-000000000000</id>
                            <parentGroupId>929a6546-7e04-3bb2-0000-000000000000</parentGroupId>
                            <position>
<x>-240.0</x>
<y>-224.0</y>
                            </position>
                            <versionedComponentId>4b11b718-2fae-34f6-8af4-33bbfc57f415</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.20.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>File Size</key>
        <value>
            <name>File Size</name>
        </value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>
            <name>Batch Size</name>
        </value>
    </entry>
    <entry>
        <key>Data Format</key>
        <value>
            <name>Data Format</name>
        </value>
    </entry>
    <entry>
        <key>Unique FlowFiles</key>
        <value>
            <name>Unique FlowFiles</name>
        </value>
    </entry>
    <entry>
        <key>generate-ff-custom-text</key>
        <value>
            <name>generate-ff-custom-text</name>
        </value>
    </entry>
    <entry>
        <key>character-set</key>
        <value>
            <name>character-set</name>
        </value>
    </entry>
    <entry>
        <key>mime-type</key>
        <value>
            <name>mime-type</name>
        </value>
    </entry>
    <entry>
        <key>limit</key>
        <value>
            <name>limit</name>
        </value>
    </entry>
    <entry>
        <key>offset</key>
        <value>
            <name>offset</name>
        </value>
    </entry>
    <entry>
        <key>url</key>
        <value>
            <name>url</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>File Size</key>
        <value>0B</value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>1</value>
    </entry>
    <entry>
        <key>Data Format</key>
        <value>Text</value>
    </entry>
    <entry>
        <key>Unique FlowFiles</key>
        <value>false</value>
    </entry>
    <entry>
        <key>generate-ff-custom-text</key>
    </entry>
    <entry>
        <key>character-set</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>mime-type</key>
        <value>application/json</value>
    </entry>
    <entry>
        <key>limit</key>
        <value>1500</value>
    </entry>
    <entry>
        <key>offset</key>
        <value>0</value>
    </entry>
    <entry>
        <key>url</key>
        <value>https://api.nobelprize.org/2.1/laureates</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>1 min</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>GenerateFlowFile</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
                        </processors>
                        <processors>
                            <id>de65c326-e9d0-3463-0000-000000000000</id>
                            <parentGroupId>929a6546-7e04-3bb2-0000-000000000000</parentGroupId>
                            <position>
<x>504.0</x>
<y>-224.0</y>
                            </position>
                            <versionedComponentId>f8cb522d-a42c-33b3-8f29-78b312e9129a</versionedComponentId>
                            <bundle>
<artifact>nifi-update-attribute-nar</artifact>
<group>org.apache.nifi</group>
<version>1.20.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Delete Attributes Expression</key>
        <value>
            <name>Delete Attributes Expression</name>
        </value>
    </entry>
    <entry>
        <key>Store State</key>
        <value>
            <name>Store State</name>
        </value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
        <value>
            <name>Stateful Variables Initial Value</name>
        </value>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>
            <name>canonical-value-lookup-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>filename</key>
        <value>
            <name>filename</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Delete Attributes Expression</key>
    </entry>
    <entry>
        <key>Store State</key>
        <value>Do not store state</value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>filename</key>
        <value>laureates_all-1000.json</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>25</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>UpdateAttribute</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                        </processors>
                    </contents>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>Get Nobel Prizes Data</name>
                    <variables/>
                </processGroups>
                <processGroups>
                    <id>fc402fcb-67b4-3c1d-0000-000000000000</id>
                    <parentGroupId>0369352b-8e7f-301e-0000-000000000000</parentGroupId>
                    <position>
                        <x>456.0</x>
                        <y>88.0</y>
                    </position>
                    <versionedComponentId>38eaba5b-76b3-3c49-b0f2-98a90c18f808</versionedComponentId>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>19b0d474-db77-3b2f-0000-000000000000</id>
                            <parentGroupId>fc402fcb-67b4-3c1d-0000-000000000000</parentGroupId>
                            <versionedComponentId>aaa0f527-04fd-3a73-964e-860c94b96f0f</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>fc402fcb-67b4-3c1d-0000-000000000000</groupId>
<id>3335496a-f414-3851-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>d29e9a22-909c-34fa-9578-5237c87de416</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>fc402fcb-67b4-3c1d-0000-000000000000</groupId>
<id>df1947ca-4e9a-31f3-0000-000000000000</id>
<type>INPUT_PORT</type>
<versionedComponentId>c8f3d04b-4abd-380c-9a06-43091b7e1d49</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>65d7829a-3e46-383d-0000-000000000000</id>
                            <parentGroupId>fc402fcb-67b4-3c1d-0000-000000000000</parentGroupId>
                            <versionedComponentId>ffee14cb-4432-3206-85f8-ee58985a4366</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>fc402fcb-67b4-3c1d-0000-000000000000</groupId>
<id>d68fe8e0-b8cf-3d22-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>2814821f-c2ec-3cbf-867b-506ef9bd73fc</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>fc402fcb-67b4-3c1d-0000-000000000000</groupId>
<id>3335496a-f414-3851-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>d29e9a22-909c-34fa-9578-5237c87de416</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <inputPorts>
                            <id>df1947ca-4e9a-31f3-0000-000000000000</id>
                            <parentGroupId>fc402fcb-67b4-3c1d-0000-000000000000</parentGroupId>
                            <position>
<x>1520.0</x>
<y>-368.0</y>
                            </position>
                            <versionedComponentId>c8f3d04b-4abd-380c-9a06-43091b7e1d49</versionedComponentId>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>Json Data</name>
                            <state>STOPPED</state>
                            <type>INPUT_PORT</type>
                        </inputPorts>
                        <labels>
                            <id>a8771adb-1b00-3e59-0000-000000000000</id>
                            <parentGroupId>fc402fcb-67b4-3c1d-0000-000000000000</parentGroupId>
                            <position>
<x>1392.0</x>
<y>-408.0</y>
                            </position>
                            <height>328.0</height>
                            <label>Data Storage</label>
                            <style>
<entry>
    <key>background-color</key>
    <value>#d6ffe9</value>
</entry>
<entry>
    <key>font-size</key>
    <value>12px</value>
</entry>
                            </style>
                            <width>1080.0</width>
                            <zIndex>0</zIndex>
                        </labels>
                        <processors>
                            <id>3335496a-f414-3851-0000-000000000000</id>
                            <parentGroupId>fc402fcb-67b4-3c1d-0000-000000000000</parentGroupId>
                            <position>
<x>1464.0</x>
<y>-248.0</y>
                            </position>
                            <versionedComponentId>d29e9a22-909c-34fa-9578-5237c87de416</versionedComponentId>
                            <bundle>
<artifact>nifi-update-attribute-nar</artifact>
<group>org.apache.nifi</group>
<version>1.20.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Delete Attributes Expression</key>
        <value>
            <name>Delete Attributes Expression</name>
        </value>
    </entry>
    <entry>
        <key>Store State</key>
        <value>
            <name>Store State</name>
        </value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
        <value>
            <name>Stateful Variables Initial Value</name>
        </value>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>
            <name>canonical-value-lookup-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>filename</key>
        <value>
            <name>filename</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Delete Attributes Expression</key>
    </entry>
    <entry>
        <key>Store State</key>
        <value>Do not store state</value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>filename</key>
        <value>laureates.snappy.parquet</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>25</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>UpdateAttribute</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                        </processors>
                        <processors>
                            <id>d68fe8e0-b8cf-3d22-0000-000000000000</id>
                            <parentGroupId>fc402fcb-67b4-3c1d-0000-000000000000</parentGroupId>
                            <position>
<x>2088.0</x>
<y>-248.0</y>
                            </position>
                            <versionedComponentId>2814821f-c2ec-3cbf-867b-506ef9bd73fc</versionedComponentId>
                            <bundle>
<artifact>nifi-parquet-nar</artifact>
<group>org.apache.nifi</group>
<version>1.20.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Hadoop Configuration Resources</key>
        <value>
            <name>Hadoop Configuration Resources</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
            <name>kerberos-credentials-service</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-user-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.KerberosUserService</identifiesControllerService>
            <name>kerberos-user-service</name>
        </value>
    </entry>
    <entry>
        <key>Kerberos Principal</key>
        <value>
            <name>Kerberos Principal</name>
        </value>
    </entry>
    <entry>
        <key>Kerberos Keytab</key>
        <value>
            <name>Kerberos Keytab</name>
        </value>
    </entry>
    <entry>
        <key>Kerberos Password</key>
        <value>
            <name>Kerberos Password</name>
        </value>
    </entry>
    <entry>
        <key>Kerberos Relogin Period</key>
        <value>
            <name>Kerberos Relogin Period</name>
        </value>
    </entry>
    <entry>
        <key>Additional Classpath Resources</key>
        <value>
            <name>Additional Classpath Resources</name>
        </value>
    </entry>
    <entry>
        <key>record-reader</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
            <name>record-reader</name>
        </value>
    </entry>
    <entry>
        <key>Directory</key>
        <value>
            <name>Directory</name>
        </value>
    </entry>
    <entry>
        <key>compression-type</key>
        <value>
            <name>compression-type</name>
        </value>
    </entry>
    <entry>
        <key>overwrite</key>
        <value>
            <name>overwrite</name>
        </value>
    </entry>
    <entry>
        <key>permissions-umask</key>
        <value>
            <name>permissions-umask</name>
        </value>
    </entry>
    <entry>
        <key>remote-group</key>
        <value>
            <name>remote-group</name>
        </value>
    </entry>
    <entry>
        <key>remote-owner</key>
        <value>
            <name>remote-owner</name>
        </value>
    </entry>
    <entry>
        <key>row-group-size</key>
        <value>
            <name>row-group-size</name>
        </value>
    </entry>
    <entry>
        <key>page-size</key>
        <value>
            <name>page-size</name>
        </value>
    </entry>
    <entry>
        <key>dictionary-page-size</key>
        <value>
            <name>dictionary-page-size</name>
        </value>
    </entry>
    <entry>
        <key>max-padding-size</key>
        <value>
            <name>max-padding-size</name>
        </value>
    </entry>
    <entry>
        <key>enable-dictionary-encoding</key>
        <value>
            <name>enable-dictionary-encoding</name>
        </value>
    </entry>
    <entry>
        <key>enable-validation</key>
        <value>
            <name>enable-validation</name>
        </value>
    </entry>
    <entry>
        <key>writer-version</key>
        <value>
            <name>writer-version</name>
        </value>
    </entry>
    <entry>
        <key>avro-write-old-list-structure</key>
        <value>
            <name>avro-write-old-list-structure</name>
        </value>
    </entry>
    <entry>
        <key>avro-add-list-element-records</key>
        <value>
            <name>avro-add-list-element-records</name>
        </value>
    </entry>
    <entry>
        <key>remove-crc-files</key>
        <value>
            <name>remove-crc-files</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Hadoop Configuration Resources</key>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
    </entry>
    <entry>
        <key>kerberos-user-service</key>
    </entry>
    <entry>
        <key>Kerberos Principal</key>
    </entry>
    <entry>
        <key>Kerberos Keytab</key>
    </entry>
    <entry>
        <key>Kerberos Password</key>
    </entry>
    <entry>
        <key>Kerberos Relogin Period</key>
        <value>4 hours</value>
    </entry>
    <entry>
        <key>Additional Classpath Resources</key>
    </entry>
    <entry>
        <key>record-reader</key>
        <value>1bcb4241-63d6-372d-0000-000000000000</value>
    </entry>
    <entry>
        <key>Directory</key>
        <value>/odsc/workshop/nifi/laureates</value>
    </entry>
    <entry>
        <key>compression-type</key>
        <value>SNAPPY</value>
    </entry>
    <entry>
        <key>overwrite</key>
        <value>true</value>
    </entry>
    <entry>
        <key>permissions-umask</key>
    </entry>
    <entry>
        <key>remote-group</key>
    </entry>
    <entry>
        <key>remote-owner</key>
    </entry>
    <entry>
        <key>row-group-size</key>
    </entry>
    <entry>
        <key>page-size</key>
    </entry>
    <entry>
        <key>dictionary-page-size</key>
    </entry>
    <entry>
        <key>max-padding-size</key>
    </entry>
    <entry>
        <key>enable-dictionary-encoding</key>
    </entry>
    <entry>
        <key>enable-validation</key>
    </entry>
    <entry>
        <key>writer-version</key>
    </entry>
    <entry>
        <key>avro-write-old-list-structure</key>
        <value>true</value>
    </entry>
    <entry>
        <key>avro-add-list-element-records</key>
        <value>true</value>
    </entry>
    <entry>
        <key>remove-crc-files</key>
        <value>false</value>
    </entry>
</properties>
<retryCount>0</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>100 ms</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>PutParquet</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>retry</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.parquet.PutParquet</type>
                        </processors>
                    </contents>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>Data Storage</name>
                    <variables/>
                </processGroups>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>Nobel Prizes</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>10/29/2024 09:08:38 EDT</timestamp>
</template>
